*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    width:100%;
    padding:0px 14% 0px 14%;
    height: 78px;
    display: flex;
    align-items: center;
    @media screen and (max-width:990px){
        padding:0px 4% 0px 4%; 
        img{
            height: 35px;
            width: 150px;
        }
    }
}